node_modules/
package-lock.json
.env
*.sqlite
*.sqlite3

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store
Thumbs.db

# Sequelize CLI temp files
.sequelize-temp-*

# Coverage (ถ้าใช้ Jest หรือ test tools)
coverage/

dist/
build/

dev.sqlite

